.topContainer {
  padding: 36px 0;
  background-color: #EFEFEF;
}
.top {
  max-width: 1360px;
  margin: 0 auto;
}

.middleContainer {
  padding: 36px 0;
}
.middle {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}