.topContainer {
  padding: 36px 0;
  background-color: #EFEFEF;
}
.top {
  max-width: 800px;
  margin: 0 auto;
}

.middleContainer {
  padding: 36px 0;
}
.middle {
  max-width: 1360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.top h3 {
  text-align: center;
  margin-bottom: 36px;
}

.questionBox > div > div {
  width: 100%;
}
.questionBox label {
  font-weight: 700;
}
.questionBox textarea {
  font-size: 100%;
  width: 100%;
}

.css-1jcj00e.active, .css-1jcj00e:active {
  color: #000!important;
  background-color: #FFF!important;
  opacity: .8;
}
#type-fun.active, .type-fun { background-color: aquamarine!important; }
#type-integrity.active, .type-integrity { background-color: cornflowerblue!important; }
#type-profitability.active, .type-profitability { background-color: chartreuse!important; }
#type-employees.active, .type-employees { background-color: coral!important; }
#type-innovation.active, .type-innovation { background-color: hotpink!important; }
#type-customerservice.active, .type-customerservice { background-color: darkkhaki!important; }

.questionTypes {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin: -20px auto 24px;
}

.questionTagsContainer {
  margin-top: -18px;
  margin-bottom: 24px;
}

.questionTypePills {
  border-radius: 999em;
  margin-right: 6px;
  padding: 2px 10px;
  display: inline-block;
}

.upvote {

}

.upvote span {
  overflow: visible!important;
  padding-right: 6px;
}

.pollingMsg {
  text-align: center;
  margin-bottom: 36px;
}

.questionId {
  color: #777;
  background-color: #EFEFEF;
  margin: 24px -32px -32px -32px;
  padding: 6px 32px;
  text-align: right;
  border-radius: 0 0 8px 8px;
}

@media screen and (max-width: 1430px) {
  .topContainer, .middleContainer {
    padding: 36px 24px;
  }
}